#registerFormHolder{
    width: 400px;
    height: 650px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.form-header{
    position: relative;
    top: -7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notifier{
    width: 70%;
    margin: 0 auto;
    font-size: 0.7em;
    text-align: start;
    color: #b1b0b0;
    position: relative;
    top: 5px;
}

label{
    font-size: 0.8em;
    line-height: 0.8em;
}



a{
    font-size: 0.8em;
}



.group-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-holder span{
    font-size: 0.8em;
    display: flex;

}