// colors
$nav-dark-bg: #222222;
$base-color: rgb(68, 227, 248);
$dark-color: #a1a1a1;
$dark-hover-color: #e6e6e6;

// transition
$fast-transition: all 0.3s linear;

// mixins
@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#booksPageContainer{
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;

    #booksCollectionContainer{
        width: 85%;
        padding: 15px;
        margin: 0 auto;
        display: inherit;
        justify-content: center;
        align-items: center;
        border: 1px solid none;
        border-radius: 10px;
        overflow: hidden;
        transition: $fast-transition;
    }
}